<form>
  <div class="input-group mb-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Buscar</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Digite o nome do filme"
      [(ngModel)]="filter"
      name="filter"
      (ngModelChange)="onInputChange($event)"
    />
  </div>
</form>
<div class="container mb-5">
  <div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let movie of movies">
        <app-movie-item [titulo]="movie.title" [descricao]="movie.overview" [image]="movie.poster_path" [id]="movie.id"></app-movie-item>
    </div>
  </div>
</div>
